main {
    flex: 1;
}

main ul {
    display: grid;
    grid-template-columns: 1fr 1fr; /* criando duas colunas*/
    gap: 20px;
    list-style: none;
}

/* Caso a largura da tela for menor que 650px */
/* as propriedades são usadas */
@media (max-width: 650px) {
    main ul {
        grid-template-columns: 1fr;
    }
}
